.container {
    background: var(--gray-900);
    width: 100vw;
    height: 100vh;

    display: grid;
    grid-template-columns: 10rem 10rem 10rem;
    grid-template-rows: 10rem 10rem 10rem;
    grid-gap: 5px;

    justify-content: center;
    align-content: center;
}

.container > div{
    background: var(--background);
    text-align: center;
}