/*Resetando css*/
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--background);
}

:root {
    --background: #e2e8f0;
    --header: #feb2b2;
    --main: #fbd38d;
    --aside: #faf089;
    --footer: #9ae6b4;
}

header {
    background: var(--header);
    height: 100px;
    text-align: center;
}

main {
    background: var(--main);
    height: 100px;
    text-align: center;
}

aside {
    background: var(--aside);
    height: 100px;
    text-align: center;
}

footer {
    background: var(--footer);
    height: 100px;
    text-align: center;
}

/*Iniciando Grid*/
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr
}
