/*Resetando css*/
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: var(--background);
}

:root {
    --background: #e2e8f0;
    --header: #feb2b2;
    --main: #fbd38d;
    --aside: #faf089;
    --footer: #9ae6b4;
}

/*Iniciando Grid*/
.container {
    display: grid;
    grid-template-columns: 4fr 1fr;
    grid-template-rows: 20vh 70vh 20vh;
    grid-template-areas:
        "header header"
        "main aside"
        "footer footer";
}

header {
    background: var(--header);

    text-align: center;
    grid-area: header;
    /* grid-column: 1/4;
    grid-row: 1/2; */
}

main {
    background: var(--main);

    text-align: center;
    grid-area: main;
    /* grid-column-start: 2;
    grid-column-end: 3; */
}

aside {
    background: var(--aside);

    text-align: center;
    grid-area: aside;
    /* grid-column-start: 2;
    grid-column-end: 3; */
}

footer {
    background: var(--footer);

    text-align: center;
    grid-area: footer;
    /* grid-column-start: 1;
    grid-column-end: 4; */
}
